@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.padding-site {
    padding-left: 98px;
    padding-right: 98px;
}

.slider-box {
    height: 800px;
    position: relative;
}

.slider-img {
    position: absolute;
    top: 0;
    left: 0;
}

.slider-content {
    position: relative;
    z-index: 1;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-top: 63px;
}

.menu {
    display: flex;
    list-style-type: none;
    margin-top: 57px;
}

.menu a {
    display: block;
    padding: 10px 13px;
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
}

.menu a:hover {
    color: #212121;
}

.menu .active-link {
    font-weight: 400;
    color: #212121;
    border-bottom: 3px solid #212121;
}

.slider-text {
    margin-top: 283px;
}

.slider-text h4 {
    color: #43a047;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
	margin-top: 19px;
}

.slider-text h2 {
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    line-height: 72px;
    text-align: left;
    text-transform: uppercase;
}

.slider-text p {
    width: 485px;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    margin-bottom: 32px;
}

.order_us {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 45px;
    text-align: center;
    padding: 10px 31px;
    background-color: #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    border-radius: 22.5px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3.2px;
    background-image: url(img/product-2.jpg);
}

.order_us:hover, .arrow_circle:hover {
    background-color: #f9f9f9;
}

.order_us:active, .arrow_circle:active {
    box-shadow: 0 0 4.85px 0.15px rgba(33, 33, 33, 0.35);
    position: relative;
    top: 2px;
}

.exclusive {
    display: flex;
}

.exclusive-left,
.exclusive-right {
    width: 50%;
    height: 683px;
}

.exclusive-left {
    background-image: url(img/promo-img1.jpg);
}

.exclusive-right {
    background-image: url(img/promo-img.jpg);
}

.box-link {
    display: flex;
    justify-content: space-between;
}
.box-link .explore{
	font-family: Montserrat;
	color: #212121;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	text-decoration: none;
	text-transform: uppercase;
}

.product-new {
    padding-top: 120px;
    padding-bottom: 90px;
}

.menu-product a {
    padding: 0 19px 21px 9px;
    color: #6c6c6c;
    font-size: 36px;
    font-weight: 700;
    text-align: left;
    text-decoration: none;
    border-bottom: 1px solid #6c6c6c;
    line-height: 27px;
}

.menu-product a:hover {
    color: #212121;
}

.menu-product .menu-product-active {
    color: #212121;
    border-bottom: 3px solid #212121;
    padding-bottom: 19px;
}

.product-content {
    display: flex;
    justify-content: space-between;
    margin-top: 72px;
    flex-wrap: wrap;
}

.product-content .item {
    width: 270px;
    height: 270px;
    position: relative;
}

.item:hover .product-hover{
    display: block;
	position: absolute;
}

.product-hover {
    border-width: 1px;
    border-color: #9c9c9c;
    border-style: solid;
    background-color: #ffffff;
    opacity: 0.9;
    width: 268px;
    height: 268px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
	text-align: center;
}
.arrow_circle{
	display: block;
	border-radius: 50%;
	background-color: #ffffff;
	box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
	width: 48px;
	height: 48px;
	margin: 48px auto 19px auto;
	color: #212121;
	text-decoration: none;
	font-size: 25px;
	font-weight: bold;
	line-height: 48px;
}
.item h4{
	font-family: Montserrat;
	color: #212121;
	font-size: 21.91px;
	font-weight: 700;
	line-height: 30px;
	text-align: center;
	transform: scaleX(1.0041);
	margin-bottom: 14px;
}

.item p{
	font-family: Montserrat;
	color: #6c6c6c;
	font-size: 13.94px;
	font-weight: 300;
	line-height: 22px;
	transform: scaleX(1.0041);
	width: 250px;
}


.circle {
    display: block;
    width: 30px;
    height: 30px;
    background-color: rgba(33, 33, 33, 0.2);
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 5px;
}

.circle:hover {
    background-color: #212121;
}

.pagination {
    display: flex;
    position: absolute;
    bottom: 19px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.circle-active {
    width: 40px;
    height: 40px;
    background-color: #212121;
}

.promo_content{
	margin-top: 228px;
	margin-left: 51px;
}
.promo_content .exclusive_h{
	font-family: Montserrat;
	color: #1e88e5;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 18px;
}
.promo_content h3{
	font-family: Montserrat;
	color: #212121;
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 16px;
}
.promo_content p{
	font-family: Montserrat;
	color: #6c6c6c;
	font-size: 13.99px;
	font-weight: 300;
	line-height: 24px;
	text-align: left;
	transform: scaleY(1.0022);
	width: 390px;
	margin-top: 0;
	margin-bottom: 24px;
}




/* Trending Products */

.featured_header{
	display: flex;
	justify-content: space-between;
}
.featured_product{
	height: 609px;
}
.trend_prod{
	height: 1108px;
}
.trend_prod .trend_h{
	font-family: Montserrat;
	color: #212121;
	font-size: 36px;
	font-weight: 700;
	margin-top: 119px;
}
.trend_prod .explore{
	text-decoration: none;
	text-transform: uppercase;
	margin-top: 138px;
	margin-bottom: 0;
		font-family: Montserrat;
	color:  #212121;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	text-align: center;
}
.trend_prod .bread_crumbs{
	margin-top: 64px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.bread_crumbs .crumb{
	display: block;
	height: 370px;
	width: 370px;
	margin-bottom: 30px;
	position: relative;
}
.crumb:hover .product-hover{
	display: block;
}
.crumb .product-hover{
	 border-width: 1px;
    border-color: #9c9c9c;
    border-style: solid;
    background-color: #ffffff;
    opacity: 0.9;
    width: 370px;
    height: 370px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
		text-align: center;
}
.arrow_circle{
	display: block;
	border-radius: 50%;
	background-color: #ffffff;
	box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
	width: 48px;
	height: 48px;
	margin: 88px auto 19px auto;
	color: #212121;
	text-decoration: none;
	font-size: 25px;
	font-weight: bold;
	line-height: 48px;
}
.crumb h4{
	font-family: Montserrat;
	color: #212121;
	font-size: 21.91px;
	font-weight: 700;
	line-height: 30px;
	text-align: center;
	transform: scaleX(1.0041);
	margin-bottom: 18px;
}
.crumb p{
	font-family: Montserrat;
	color: #6c6c6c;
	font-size: 13.94px;
	font-weight: 300;
	line-height: 22px;
	transform: scaleX(1.0041);
	width: 300px;
	margin: 0 auto;
}



/* Hot Deal */

.slider-hot{
	position: relative;
  z-index: 1;
}
.slider-hot .slider-text{
	margin-top: 0;
	padding-top: 283px;
}
.slider-hot h4{
	font-family: Montserrat;
	color: #e53935;
	font-size: 18px;
	font-weight: 700;
	line-height: 48px;
	text-transform: uppercase;
}

/* Exclusive Block */
.exc_block{
	display: flex;
	justify-content: space-between;
	padding-top: 120px;
	padding-bottom: 120px;
}
.exc_block .exc-left{
	margin-right: 30px;
}
.exc-left{
	position: relative;
}
.exc-left .exc_content{
	position: absolute;
	top: 0;
	margin-top: 186;
	margin-left: 51px;
	padding-top: 186px;
}
.exc_content .exclusive_h{
	font-family: Montserrat;
	color: #1e88e5;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 18px;
}
.exc-left .exc_content h3{
	font-family: Montserrat;
	color: #212121;
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 16px;
}
.exc-left .exc_content p{
	font-family: Montserrat;
	color: #6c6c6c;
	font-size: 13.99px;
	font-weight: 300;
	line-height: 24px;
	text-align: left;
	transform: scaleY(1.0022);
	width: 330px;
	margin-top: 0;
	margin-bottom: 24px;
}
.exc_block .exc-right{
	display: flex;
	justify-content: space-between;
	align-content: space-between;
	flex-wrap: wrap;
}
.exc-right .item{
	width: 270px;
  height: 270px;
	display: block;
	position: relative;
}
.exc-right .item:hover .product-hover{
	display: block;
	position: absolute;
}


/* Mobile App */
.mobile_app{
	position: relative;
	padding-top: 125px;
}
.mobile_app .back_img{
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
}
.mobile_app h3{
	font-family: Montserrat;
	color: #6c6c6c;
	font-size: 18px;
	font-weight: 700;
	line-height: 48px;
	text-transform: uppercase;
}
.mobile_app h2{
	color: #212121;
	font-size: 62px;
	font-weight: 100;
	line-height: 72px;
	text-align: left;
	text-transform: uppercase;
	width: 480px;
	margin-bottom: 26px;
}
.mobile_app p{
	font-family: Montserrat;
	color: #6c6c6c;
	font-size: 22px;
	font-weight: 300;
	line-height: 24px;
	margin-bottom: 33px;
}



/* Footer */

.footer{
	background-color: #f7f7f7;
	height: 384px;
	padding-bottom: 30px;
}
.footer_up{
	display: flex;
	justify-content: space-between;
}
.contact, .useful, .suscribe{
	padding-top: 120px;
}
.footer_up h3{
	font-family: Montserrat;
	color: #6c6c6c;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	margin-bottom: 24px;
}
.footer_up p{
	font-family: Montserrat;
	color: #212121;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	width: 200px;
	margin-bottom: 24px;
}
.useful{
	width: 380px;
}
.useful ul{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	list-style-type: none;
	height: 80px;
}
.useful a{
	text-decoration: none;
	font-family: Montserrat;
	color: #212121;
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
}
.useful a:hover{
	color: #8c8c8c;
}

.suscribe p{
	width: 363px;
}
.field_subscribe{
	position: relative;
}
.field_subscribe input[type="text"]{
	border-width: 1px;
	border-color: #d9dee1;
	border-style: solid;
	background-color: #ffffff;
	width: 330px;
	height: 46px;
	padding: 0 19px;
}
.field_subscribe input[type="submit"]{
	position: absolute;
	top: 15px;
	left: 335px;
	width: 22px;
	height: 22px;
	cursor: pointer;
	background: url(img/btn_air.png) no-repeat center top;
	border: 0px;
}

.social a{
	margin-right: 5px;
	opacity: 0.5;
}
.social a:hover{
	opacity: 1;
}

.footer_down{
	margin-top: 59px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	font-family: Montserrat;
	color: #6c6c6c;
	font-size: 12px;
	font-weight: 700;
	line-height: 26px;
}

/* Левая стрелка Назад */
.button_back{
  cursor: pointer;
  width: 25px;
  height: 100px;
  background-color: silver;
  position: fixed;
  z-index: 10;
  top: 50%;
  opacity: 0.5;
  text-align: center;
  line-height: 100px
}
.button_back:hover{
  width: 50px;
  transition: 0.6s
}